<div class="row">
  <aside class="col-md-4">
      <section class="request_search">
        <p>Search your request here</p>
        
      </section>
      <section class="user_info">
        <p>Your profile</p>
        
      </section>
    </aside>
    <div class="col-md-8">
      <h3>案件一覧</h3>
      <%= render 'shared/request_list', requests: @requests %>
  </div>
</div>