<li id="request-<%= request.id %>">
  <span class="content"><%= link_to request.request_name, request %></span></br>
  <span class="content"><%= request.description %></span></br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(request.created_at) %> ago.
  </span>
</li>