<h2>投稿済み案件</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="project_content">
      <h2>案件タイトル</h2>
      <p><%= @request.request_name %></p>
    </div>
    
    <div class="project_content">
      <h2>概要</h2>
      <p><%= @request.description %></p>
    </div>
    
    <div class="project_content">
      <h2>予算</h2>
      <p><%= @request.budget %></p>
    </div>

  </div>
</div>
